.App-header, .DatePage-header, .App-footer {
  background-color: #222;
 	padding: 15px;
 	color: white;
	box-shadow: 0 5px 10px #ccc;
	text-align: center;
}

.EventCard__header {
	width: 100%;
}

.EventCard__header:after {
  content: '';
  display: block;
  clear: both;
}

.App-title, .DatePage-title {
 	font-size: 2.5rem;
}

.App-footer {
  font-size: 0.7rem;
  text-align: center;
}

.DateCard, .EventCard {
	box-shadow: 0 2px 6px #ccc;
	max-width: 700px;
	margin: 20px auto;
	padding: 10px;
	border-radius: 2px;
	transition: 100ms;
}

.DateCard:hover, .EventCard:hover {
	box-shadow: 0 4px 12px #ccc;
	transition: 100ms;
}

.DateCard__date {
	text-align: left;
	color: #aaa;
	font-size: 90%;
}

.DateCard__event {
	display: block;
	text-align: left;
	padding: 3px 0;
}

.DateCard__event-location {
	display: inline-block;
	width: 100px;
	padding-left: 30px;
}

.DateCard__event-label {
	display: inline;
}

.DateCard__event-label:hover {
	color: #0645AD;
	text-decoration: underline;
}

.EventCard__name {
	float: left;
	font-size: 1.5rem;
}

.EventCard__location {
	float: right;
	color: #aaa;
	padding: 3px 0;
}

.EventCard__description {
	padding: 30px;
}
